@use "sass:color";

$brick-colors: (
  "red": hsl(358, 78%, 49%),
  "orange": hsl(26, 91%, 54%),
  "green": hsl(80, 57%, 51%),
  "blue": hsl(210, 69%, 42%)
);

// Functions
@function lighten($color, $l) {
  @return color.scale($color, $lightness: $l);
}

// Mixins
@mixin brick-shading($name) {
  --brick-left: var(--#{$name}400);
  --brick-top: var(--#{$name}300);
  fill: var(--#{$name}500);
}
@mixin brick-colors($name, $value) {
  --#{$name}300: #{lighten($value, 40%)};
  --#{$name}400: #{lighten($value, 20%)};
  --#{$name}500: #{$value};
}



:root {
  --trans-dur: 0.3s;

  @each $name, $value in $brick-colors {
    @include brick-colors($name, $value);
  }
}


.loader-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121621;
  z-index: 50;

  small {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #999;
  }
}

.pl {
  display: block;
  width: 16em;
  height: auto;

  &__brick {
    &-group {
      animation: brick-bounce 6s cubic-bezier(0.37, 0, 0.63, 1) infinite;

      @for $g from 1 through 4 {
        &--#{$g} {
          animation-name: brick-move-#{$g};
        }
      }
    }

    @each $name, $value in $brick-colors {
      &--#{$name} {
        @include brick-shading($name);
      }
    }
  }
}

// Animations
@keyframes brick-bounce {
  0%, 12%, 15%, 27%, 30%, 42%, 45%, 62%, 65%, 77%, 80%, 92%, 95%, 100% {
    transform: translate(0, 0);
  }
  13.5%, 28.5%, 43.5%, 63.5%, 78.5%, 93.5% {
    transform: translate(0, 6px);
  }
}

@keyframes brick-move-1 {
  0%, 4%, 92%, 100% { transform: translate(0, 0); }
  12%, 19%, 77%, 84% { transform: translate(17.5px, 10px); }
  27%, 34%, 62%, 69% { transform: translate(35px, 20px); }
  42%, 54% { transform: translate(52.5px, 30px); }
}

@keyframes brick-move-2 {
  0%, 92%, 100% { transform: translate(0, -47px); }
  4% { transform: translate(0, -87px); }
  8% { transform: translate(-35px, -87px); }
  12%, 80% { transform: translate(-35px, -67px); }
  84% { transform: translate(-35px, -107px); }
  88% { transform: translate(0, -67px); }
}

@keyframes brick-move-3 {
  0%, 15%, 77%, 100% { transform: translate(0, -47px); }
  19% { transform: translate(0, -87px); }
  23% { transform: translate(-35px, -87px); }
  27%, 65% { transform: translate(-35px, -67px); }
  69% { transform: translate(-35px, -107px); }
  73% { transform: translate(0, -67px); }
}

@keyframes brick-move-4 {
  0%, 30%, 62%, 100% { transform: translate(0, -47px); }
  34% { transform: translate(0, -87px); }
  38% { transform: translate(-35px, -87px); }
  42%, 50% { transform: translate(-35px, -67px); }
  54% { transform: translate(-35px, -107px); }
  58% { transform: translate(0, -67px); }
}
